.App {
  text-align: center;
  height: 100vh;
  background-color: rgb(236, 241, 248) ;

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.newsContainer{
  height: 92vh;
  overflow-y: scroll;

}

.newsContainer::-webkit-scrollbar{
  display: none;
}

.sButton{
  border-radius: 50% !important;
  width: 60px;
  height: 60px;
  position: fixed;
  top:  87%;
  left: 76%;
  z-index: 1;
}
.contact{
  padding-top: 15%;
  background-color: rgb(236, 241, 248) ;
  height: 92vh;
}

.about{
  padding-top: 5%;
  background-color: rgb(236, 241, 248) ;
  height: 92vh;
}
i{
  margin:3px;
}

@media only screen and (max-width:600px) {
  .container{
    padding: 10px !important;
  }
  .newsContainer{
    padding: 0px !important;

  }
  .card{
    width: 100% !important;
  }
  .sButton{
    border-radius: 50% !important;
    width: 60px;
    height: 60px;
    position: fixed;
    top:  87%;
    left: 76%;
    z-index: 1;
  }
  .modalOpen{
    padding: 0px !important;
  }
}
